@media all {
    * {
        margin: 0;
        padding: 0;
      }
    
    html, body {
        width: 100%;
        height: 100%;
    }
}

.navbar-default {
  background-color: white;
  border-color: rgba(34, 34, 34, 0.05);
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
  font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 200;
  letter-spacing: 1px;
}
.navbar-default .navbar-header .navbar-brand {
  font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 200;
  letter-spacing: 1px;
  color: #222222;
}
.navbar-default .navbar-header .navbar-brand:hover,
.navbar-default .navbar-header .navbar-brand:focus {
  color: #222222;
}
.navbar-default .navbar-header .navbar-toggle {
  font-size: 12px;
  color: #222222;
  padding: 8px 10px;
}
.navbar-default .nav > li > a {
  font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 11px;
}
.navbar-default .nav > li > a,
.navbar-default .nav > li > a:focus {
  color: #222222;
}
.navbar-default .nav > li > a:hover,
.navbar-default .nav > li > a:focus:hover {
  color: #fdcc52;
}
.navbar-default .nav > li.active > a,
.navbar-default .nav > li.active > a:focus {
  color: #fdcc52 !important;
  background-color: transparent;
}
.navbar-default .nav > li.active > a:hover,
.navbar-default .nav > li.active > a:focus:hover {
  background-color: transparent;
}
@media (min-width: 768px) {
  .navbar-default {
    background-color: transparent;
    border-color: transparent;
  }
  .navbar-default .navbar-header .navbar-brand {
    color: #222222;
  }
  .navbar-default .navbar-header .navbar-brand:hover,
  .navbar-default .navbar-header .navbar-brand:focus {
    color: grey;
  }
  .navbar-default .nav > li > a,
  .navbar-default .nav > li > a:focus {
    color: rgba(255, 255, 255, 0.7);
  }
  .navbar-default .nav > li > a:hover,
  .navbar-default .nav > li > a:focus:hover {
    color: #222222;
  }
  .navbar-default.affix {
    background-color: white;
    border-color: rgba(34, 34, 34, 0.1);
  }
  .navbar-default.affix .navbar-header .navbar-brand {
    color: #222222;
  }
  .navbar-default.affix .navbar-header .navbar-brand:hover,
  .navbar-default.affix .navbar-header .navbar-brand:focus {
    color: #fdcc52;
  }
  .navbar-default.affix .nav > li > a,
  .navbar-default.affix .nav > li > a:focus {
    color: #222222;
  }
  .navbar-default.affix .nav > li > a:hover,
  .navbar-default.affix .nav > li > a:focus:hover {
    color: #fdcc52;
  }
}

.container {
  width: 50%;
  margin: 0 auto;    
}

.underline {
    border-bottom: 3px solid #7FCCE5;
}

.underlinegrey {
    border-bottom: 3px solid #808080;
}

.underlineblack {
    border-bottom: 3px solid #313131;
}

.underlinethin {
    border-bottom: 1px solid #7FCCE5;
}

.circle-icon {
    width: 80px;
    height: 80px;
    text-align: center;4
    line-height: 80px;
    font-size 2.1em;
    border-radius: 40px;
    margin: auto;
    color: #aaa;
    background-color: #ddd;
}

.glyphicon {
    position: relative;
    display: inline-block;
    font-family: 'Glyphicons Halflings', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
}

.circle-icon .glyphicon {
    top: 0;
    line-height: 80px;
    text-align: center;
}

@media (max-width:767px) {
    .nav {
        display:none;
    }
}


/* Nav Bar */

/*.nav {
  background-color: rgba(255, 255, 255, 0.95);
  border-bottom: 1px solid #ddd;
  
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  
  font-size: 17px;
  padding: 5px;
    
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 5%; 
  display: block;
}

.nav .title {
    position: fixed;
    left: 10%;
    bottom: 96%
}

.nav .logo-icon {
    position: fixed;
    left: 25%;
    top: 1%;
}
*/




/* Menu */ 

.nav .menu {
  float: right;
  list-style: none;
  margin-top: 5px;
}

.menu li {
  display: inline;
  padding-left: 30px;
  padding-right: 30px;
}

.menu a {
  color: #898989;
}

.menu .border a {
    border: 1px solid #7FCCE5;
    padding: 2px 15px;
}




/* Dropdown */

.dropdown-menu {
  font-size: 16px;
  margin-top: 5px;
  min-width: 105px;
  z-index: 999;
}

.dropdown-menu li a {
  color: #898989;
  padding: 6px 20px;
  font-weight: 300;
}





/* Jumbotron */

.jumbotron {
  height: 100%;
    background: url('hipsteropen.jpg') no-repeat bottom;
    background-size: cover;
  position: initial;
  overflow: hidden;
}

.jumbotron .container {
  position: relative;
  top: 250px;
}

.jumbotron h1 {
  color: #fff;
  font-size: 80px;  
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  text-align: center;
  padding: 20px;
  text-shadow: 0px 0px 3px #000;
}

.jumbotron p {
  color: #fff;
  font-size: 48px;  
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  text-align: center;
  padding: 20px;
  text-shadow: 0px 0px 3px #000;    
}

.jumbotron h3 {
  color: #fff;
  font-size: 80px;  
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  text-align: center;
  padding: 20px;
  text-shadow: 0px 0px 3px #000;    
}

.jumbotron .nounderline {
    text-decoration: none;
    color: #fff;
}

.btn {
  display: inline-block;
  padding: 4px 14px;
  margin-bottom: 0px;
  font-size: 13px;
  text-align: center; 
  vertical-align: middle;
  cursor: pointer;
  border-radius: 1px;
  border-color: #f7f6f6;    
  line-height: 20px;
  font-weight: bold;
  color: #f7f6f6;
  background-color: transparent; 
    
  position: relative;
  top: 50px;
  left: 340px;
}

.btn:hover {
    background: #808080 none;
    color: #f7f6f6;
   -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
}

#fade {
    opacity: 0;
    text-align: center;

    -webkit-transition: opacity 2s ease-in;
       -moz-transition: opacity 2s ease-in;
        -ms-transition: opacity 2s ease-in;
         -o-transition: opacity 2s ease-in;
            transition: opacity 2s ease-in;
}

#fade.load {
    opacity: 1;
}

#fade2 {
    opacity: 0;
    text-align: center;

    -webkit-transition: opacity 2s ease-in;
       -moz-transition: opacity 2s ease-in;
        -ms-transition: opacity 2s ease-in;
         -o-transition: opacity 2s ease-in;
            transition: opacity 2s ease-in;
}

#fade2.load {
    opacity: 1;
}

#fade3 {
    opacity: 0;
    text-align: center;

    -webkit-transition: opacity 2s ease-in;
       -moz-transition: opacity 2s ease-in;
        -ms-transition: opacity 2s ease-in;
         -o-transition: opacity 2s ease-in;
            transition: opacity 2s ease-in;
}

#fade3.load {
    opacity: 1;
}

.btn-fade {
    opacity: 0;
    text-align: center;

    -webkit-transition: opacity 2s ease-in;
       -moz-transition: opacity 2s ease-in;
        -ms-transition: opacity 2s ease-in;
         -o-transition: opacity 2s ease-in;
            transition: opacity 2s ease-in;    
}

.btn-fade.load {
    opacity: 1;
}

.btn-fade2 {
    opacity: 0;
    text-align: center;

    -webkit-transition: opacity 2s ease-in;
       -moz-transition: opacity 2s ease-in;
        -ms-transition: opacity 2s ease-in;
         -o-transition: opacity 2s ease-in;
            transition: opacity 2s ease-in;    
}

.btn-fade2.load {
    opacity: 1;
}




